.class_news{
    /* height: 420px; */
    height: 320px;
    overflow: hidden;
}

.class_awards{
    /* height: 420px; */
    height: 320px;
    overflow: hidden;
}

.p_item{
    margin:0;
}

.load_items{
    color: #5F699F;
}

.item_content{
    font-size: 0.9em;
    margin-left: 4px;
}
/* color="#5F699F" */